extends layout

block content
  .timeline
    form#join-form(action='/auth/join' method='post')
      .input-group
        label(for='join-name') 이름
        input#join-name(type='text' name='name')
      .input-group
        label(for='join-id') 아이디
        input#join-nick(type='text' name='id')
      .input-group
        label(for='join-passwd') 비밀번호
        input#join-passwd(type='password' name='passwd')
      .input-group
        label(for='join-age') 나이
        input#join-age(type='text' name='age')
      .input-group
        label(for='join-age') 나이
        input#join-age(type='text' name='age')
        // 여기부터 추가 개발~
      if joinError
        .error-message= joinError
      button#join-btn.btn(type='submit') 회원가입