doctype html
html
    head
        meta(charset="utf-8")
        title #We Are Here
        link(rel='stylesheet' type='text/css' href='./stylesheets/resetCSS.css')
        link(href='https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap&subset=korean' rel='stylesheet')
        link(rel='stylesheet' href='./stylesheets/main_style.css' type='text/css')
        link(rel='stylesheet' href='./stylesheets/detail_style.css' type='text/css')
        script(src='http://code.jquery.com/jquery-3.1.1.js')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js')
        script(src='./javascripts/detail_script.js' type='text/javascript')
        

    body 
        #wrap
            .headbox
                .inheadbox
                    .logo
                        p #WE ARE HERE
                    .search
                        form
                            input.searchbox(type='text' name='search' value='')
            #bodybox
                .content
                    .titlebox
                        .profile
                        .title(name = 'title') #{title} 
                        .date
                    .picbox
                        ul.slider
                            li
                                img(src='https://previews.123rf.com/images/jalcaraz/jalcaraz1409/jalcaraz140900006/31489949-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EB%8B%A4%EC%9D%B4%EC%95%84%EB%AA%AC%EB%93%9C-%EB%B0%98%EC%A7%80.jpg' alt='')
                            li
                                img(src='https://previews.123rf.com/images/provinc/provinc1604/provinc160400115/58000197-%EB%8B%A4%EC%9D%B4%EC%95%84%EB%AA%AC%EB%93%9C-%EA%B2%B0%ED%98%BC-%EB%B0%98%EC%A7%80-%ED%9D%B0%EC%83%89-%EB%B0%B0%EA%B2%BD%EC%97%90-%EA%B3%A0%EB%A6%BD%EC%9E%85%EB%8B%88%EB%8B%A4-%ED%8C%A8%EC%85%98-%EC%A3%BC%EC%96%BC%EB%A6%AC-3-%EC%B0%A8%EC%9B%90-%EB%94%94%EC%A7%80%ED%84%B8-%EB%A0%8C%EB%8D%94%EB%A7%81-%EB%90%9C-%EA%B7%B8%EB%A6%BC.jpg' alt='')
                            li
                                img(src='https://previews.123rf.com/images/provinc/provinc1604/provinc160400068/55808513-%EB%8B%A4%EC%9D%B4%EC%95%84%EB%AA%AC%EB%93%9C-%EB%B0%98%EC%A7%80-%EC%86%8C%EC%9B%90%EA%B3%BC-%ED%95%A8%EA%BB%98-%EB%B0%98%EC%A7%80-3d-%EB%94%94%EC%A7%80%ED%84%B8-%EA%B7%B8%EB%A6%BC-%EB%A0%8C%EB%8D%94%EB%A7%81.jpg' alt='')
                    .price(name = 'price') 19,900원
                    .description(name = 'content')
                    | 여기 이렇게 설명이 잔뜩 들어갈 건데! 
                    br
                    | 이런식으로 잔뜩 쓸 거에요
                    .tags_buy
                        .tags(name = 'tag') #직거래 #이렇게저렇게 #와웅
                        .buy BUY
                    .margins