doctype html
html
    head
        meta(charset="utf-8")
        title imgUpload
    body 
        h1 안뇽~ post결과로 띄워진 화면이니? 
        p
        //- var imgsrc = "uploads/chohee1.jpg"
        img(src='./uploads/chohee1.jpg')
        
            