.loginbox {
    width: 35%;
    height: 580px;
    padding: 3% 5%;
    border: 1px solid #bfbfbf;
    border-radius: 7px;
    margin-left: 27.5%;
    margin-top: 100px;
    background-color: white;
}

.signin {
    text-align: center;
    font-style: italic;
    font-size: 25px;
    height: 90px;
    line-height: 35px;
    border-bottom: 1px solid #bfbfbf;
    margin-bottom: 30px;
    margin-top: 30px;
}

.id_pwd {
    height: 100px;
    padding: 20px 0;
}

.id_pwd > input {
    display: block;
    border-radius: 8px;
    border: 1px solid #bfbfbf;
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px 5%;
}

.id_pwd > input:focus,
textarea:focus {
    background-color: white;
    border: 2px solid #ff9900;
    box-shadow: 0px 0px 4px 1px #ff9900;

}

.signin_botton {
    float: right;
    width: 25%;
    height: 1.8rem;
    background-color: #ff9900;
    border-radius: 70px;
    color: white;
    text-align: center;
    margin-top: 20px;
    border: 0px;
    font-family: inherit;
}

.signin_botton:hover {
    box-shadow: 0px 0px 2px 1px #cbcbcb;
}

.snsbox {
    height: 220px;
    padding: 20px 0;
}

.snsbox > a {
    display: inline-block;
    position: relative;
    width: 10%;
    height: 15%;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    font-weight: 500;
    border: 0;
    font-family: inherit;
}

.snsbox > a:hover {
    box-shadow: 0px 0px 2px 1px #cbcbcb;
}

.snsbox > a > img {
    width: 90%;
    height: 100%;
}

.kakao {
    background-color: #fae100;
}

.facebook {
    background-color: #3a5ca9;
    color: white;
}

.facebook>img {
    transform: translateX(-138px);
}

.google {
    background-color: #f53e28;
    color: white;
}

.google>img {
    transform: translateX(-152px);
}

#to_signup {
    text-align: end;
    font-size: 15px;
    color: #7b7b7b
}
